:root {
  --mobile-card-width: calc(285em / var(--em-divider));
  --mobile-card-height: calc(160em / var(--em-divider));
  --desktop-card-width: calc(450em / var(--em-divider));
  --desktop-card-height: calc(245em / var(--em-divider));
}

.header {
  grid-area: header;
  display: none;
}



@media (min-width: 375px) {
  .header {
    display: initial;
    position: relative;
    height: 310px;
  }
  
  .card-back {
    position: absolute;
    top: calc(30em / var(--em-divider));
    left: calc(70em / var(--em-divider));
    width: var(--mobile-card-width);
    height: var(--mobile-card-height);
    background: url('/assets/images/bg-card-back.png') no-repeat;
    background-size: contain;
  }
  
  .card-back__cvv {
    color: var(--white);
    position: absolute;
    top: calc(125em / var(--em-divider));
    right: calc(60em / var(--em-divider));
    font-size: calc(10em / var(--em-divider));
  }
  
  .card-front {
    color: var(--white);
    position: absolute;
    top: calc(130em / var(--em-divider));
    left: calc(15em / var(--em-divider));
    width: var(--mobile-card-width);
    height: var(--mobile-card-height);
    background: url('/assets/images/bg-card-front.png') no-repeat;
    background-size: contain;
    display: grid;
    grid-template-columns: min-content min-content min-content min-content;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
      "circle . . ."
      "digits-1 digits-2 digits-3 digits-4"
      "name name name expiry";
    gap: calc(10em / var(--em-divider));
    padding: calc(20em / var(--em-divider));
    justify-content: space-evenly;
  }
  
  .card-front__circle {
    grid-area: circle;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-front__circle-filled {
    --circle-diameter: calc(30em / var(--em-divider));
    height: var(--circle-diameter);
    width: var(--circle-diameter);
    border-radius: 50%;
    background: var(--white);
  }
  
  .card-front__circle-empty {
    --circle-diameter: calc(12em / var(--em-divider));
    height: var(--circle-diameter);
    width: var(--circle-diameter);
    border-radius: 50%;
    border: 1px solid var(--white);
    opacity: 0.8;
  }
  
  .card-front__card-digits {
    letter-spacing: calc(2rem / var(--rem-divider));
    align-self: self-end;
  }
  
  .card-front__card-digits-1 {
    grid-area: digits-1;
  }
  
  .card-front__card-digits-2 {
    grid-area: digits-2;
  }
  
  .card-front__card-digits-3 {
    grid-area: digits-3;
  }
  
  .card-front__card-digits-4 {
    grid-area: digits-4;
  }
  
  .card-front__cardholder {
    grid-area: name;
    text-transform: uppercase;
    font-size: calc(10rem / var(--rem-divider));
    opacity: 0.7;
    letter-spacing: calc(1rem / var(--rem-divider));
  }
  
  .card-front__expiry-date {
    grid-area: expiry;
    font-size: calc(11rem / var(--em-divider));
    opacity: 0.7;
    justify-self: right;
  }
}



@media (min-width: 1440px) {
  .header {
    height: initial;
    /* width: calc(800em / var(--em-divider)); */
  }

  .card-back {
    top: calc(470em / var(--em-divider));
    left: calc(260em / var(--em-divider));
    width: var(--desktop-card-width);
    height: var(--desktop-card-height);
  }

  .card-back__cvv {
    top: calc(142em / var(--em-divider));
    right: calc(60em / var(--em-divider));
    font-size: calc(14rem / var(--rem-divider));
    letter-spacing: calc(2rem / var(--rem-divider));
  }

  .card-front {
    top: calc(185em / var(--em-divider));
    left: calc(160em / var(--em-divider));
    width: var(--desktop-card-width);
    height: var(--desktop-card-height);
    justify-content: space-around;
    row-gap: calc(25em / var(--em-divider));
    padding: calc(25em / var(--em-divider));
  }

  .card-front__circle-filled {
    --circle-diameter: calc(45em / var(--em-divider));
  }

  .card-front__circle-empty {
    --circle-diameter: calc(20em / var(--em-divider));
  }

  .card-front__card-digits {
    font-size: calc(26rem / var(--rem-divider));
    letter-spacing: calc(4rem / var(--rem-divider));
  }

  .card-front__cardholder {
    font-size: calc(14rem / var(--rem-divider));
    letter-spacing: calc(2rem / var(--rem-divider));
  }

  .card-front__expiry-date {
    font-size: calc(14rem / var(--rem-divider));
    letter-spacing: calc(2rem / var(--rem-divider));
  }

}