@import "./_thanks.css";

.main {
  grid-area: form;
  position: relative;
  padding: 25px;
  color: var(--very-dark-violet);
}

.card-form {
  width: 100%;
  display: grid;
  gap: 20px 10px;
  grid-template-areas: "name name name"
    "digits digits digits"
    "expiry expiry cvc"
    "button button button";
}

.card-form--hide {
  display: none;
}

.card-form__input-error {
  color: var(--red);
  text-transform: initial;
  display: none;
}

.show-error .card-form__input-error {
  display: initial;
}

.show-error .card-form__input {
  border-color: var(--red);
}

.card-form__input:focus {
  border-color: var(--very-dark-violet);
}

.card-form__input:hover {
  cursor: pointer;
}

.card-form__cardholder {
  grid-area: name;
}

.card-form__card-number {
  grid-area: digits;
}

.card-form__digits {
  grid-area: digits;
}

.card-form__expiry-date {
  display: flex;
  grid-area: expiry;
  gap: 10px;
}

.card-form__cvc {
  grid-area: cvc;
}

.card-form__cvc .card-form__input {
  text-transform: uppercase;
}

.card-form__confirm-button {
  grid-area: button;
  padding: 15px;
  font-size: 16px;
  letter-spacing: 2px;
  margin: 10px 0 20px;
  border-radius: 10px;
}


@media (min-width: 1440px) {
  .main {
    margin-top: 250px;
  }
}