@import "/css/_fonts.css";
@import "/css/_theme.css";
@import "/css/_header.css";
@import "/css/_main.css";
@import '/css/_footer.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: var(--site-font-size) var(--site-font-family);
  display: grid;
  grid-template-areas: "header"
    "form"
    "attribution";
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  text-transform: uppercase;
  font-size: calc(12rem / var(--rem-divider));
  letter-spacing: calc(2rem / var(--rem-divider));
}

label {
  text-transform: uppercase;
  font-size: calc(12rem / var(--rem-divider));
  letter-spacing: calc(2rem / var(--rem-divider));
}

input {
  --border-color: color-mix(in HSL, var(--very-dark-violet), white 50%);
  outline: 0;
  border: calc(1em / var(--em-divider)) solid var(--light-grayish-violet);
  border-radius: calc(10em / var(--em-divider));
  color: var(--very-dark-violet);
  padding: calc(16em / var(--em-divider));
  font-size: calc(16rem / var(--rem-divider));
  margin: calc(10em / var(--em-divider)) 0 0;
  display: block;
  width: 100%;
}

input::placeholder {
  color: var(--light-grayish-violet);
  /* Fix firefox opacity */
  opacity: 1;
}

button {
  border-radius: calc(5em / var(--em-divider));
  padding: calc(10em / var(--em-divider));
  color: var(--white);
  background: black;
  border: 0;
}



@media (min-width: 375px) {
  body {
    background: url('/assets/images/bg-main-mobile.png') repeat-x;
  }
}



@media (min-width: 1440px) {
  body {
    background: url('/assets/images/bg-main-desktop.png') no-repeat;
    grid-template-areas: "header form"
      ". attribution";
    grid-template-columns: calc(800em / var(--em-divider)) calc(380em / var(--em-divider));
    justify-content: start;
  }
}

